<h1> Customers' tags from google tag manager</h1>
<h2> Intro </h2>
<p> The following is an overview of all the tags fromt the customers <code>Gastro hero</code> and <code>Mycs</code>. They are sorted according to their functionality. </p>
<h2>Segment io tags</h2>
<p> The following tags have the purpose of tracking. They are utilizing the google analytics library and the according extension <code>segment io</code>. In specific cases there is functionalty extending the tracking involved.</p>
<h3>Mycs analytics tags</h3>
<h4>Mycs User Id and traits for the account creation</h4>
<p>According to the documentation of segement io, the <code>identify</code> method ties a customer to recognizable vars. Therefore mycs decided to identify their users with that method and customize the user traits. User traits offer additional information beside the individual id of the user as you can see below. Another method used is the <code>track</code>. It is capable of recording actions. In this case it tracks the <code>successfulAccountCreation</code> event.</p>
<pre>
var userId = {{mycsUserId}}; // var initialized, var equals the placeholder {{mycsUserId}}
  console.log('user id is:' + userId);
 
var traits = {    
	email: FC.json.customer_email,
    lastCountryVisitedWebsiteCode: {{CE - Country}}  
};    
//traits initialized, including the email-adress and the country code from the website

analytics.identify(userId,traits); // fills the set vars with values

analytics.track('successfulAccountCreation');
</pre>
<h4>Mycs add to cart</h4>
<p>As the headline states this skript enables to track the added products to the cart.</p>
<pre>
  
  var addToCartEvent = dataLayer.filter(function(layer){ return layer.event === 'addToCart'; });
  var properties = addToCartEvent[0].ecommerce.add.products[0];
  
  analytics.track('Added Product', properties);
  
</pre>

<h4>Mycs configurator</h4>
<p>This skript enables Mycs to track changes that are applied to their configurator.</p>
<pre>
  var clickClass = {{Click Classes}}; //var clickClass is defined by the placeholder Click Classes
  
  // intializing vars that will be properties of the object underneath which will collect the values for the vars inside the track method
  //they both use the clickClass and take the first and second string which was devided by a space 
  var part = clickClass.split(' ')[0];
  var newValue = clickClass.split(' ')[1];
  
  var properties = {
      part: part,
      newValue: newValue
  };
  analytics.track('Change in Configurator', properties);
</pre>
<p>You can read more about the <code>split()</code> methode <a href="http://www.w3schools.com/jsref/jsref_split.asp">here</a>.</p>