/*tags*/
h1, h2, h3, h4 { 
  position:relative; 
}

h1 span, h2 span, h3 span, h4 span { 
  position:absolute; top:-30px;
}

h4 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
}
pre {
  white-space: pre-wrap !important;
  background-color: #f8f8f8 !important;
  border-color: #f2f2f2 !important;
  padding: 10px !important!;
  width: 90% !important!;
  font-size: 14px !important;
}


p {
 margin-bottom: 20px !important;
 font-size: 14px !important;
}

code {
  font-size: 13px !important;
}

/*everything related to link, mainly because containers 
on the landing page are links*/

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}

/*class*/
.banner {
  background-color: #1E394E !important;
}

.top-search-form {
  margin-bottom: 35px;
  padding: 60px 0;
  background: #efefef !important;
  position: relative;
}

/*custom table designs*/
.properties-table {
  width: 90%; 
}

.properties-table td {
  padding:  20px; 
}

.properties-table tr {
  border-bottom: 1px solid  #CFCFCF;
  vertical-align: top;
}


.response-status-table {
  width: 90%;
}

.response-status-table tr {
  border-bottom: 1px solid #CFCFCF;
}

.response-status-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px; 
  padding-right: 10px;
}

.container-box-right{
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  padding: 24px;
  text-align: center;
  border-radius: 2px;
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.container-box-left{
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  padding: 24px;
  text-align: center;
  border-radius: 2px;
  float: right;
  width: 50%;
  box-sizing: border-box;
}

.container-wrap{
  width: 100%;
    background-color: white;
    margin: auto;
  box-sizing: border-box;
}

.content-box{
  
  box-sizing: border-box;
  padding: 10px;
  text-align: left;
  border-radius: 1px;
  margin-top: 15px;
  margin-bottom: 15px;}

.center-image img{
  display: block;
  margin-left: auto;
   margin-right: auto;
  max-width: 100%;
  overflow: auto;
}

.well {background-color: white !important;
  border-radius: 2px !important;
  border: 1px solid black  !important;
}
  
