<h3><span id="3.2.4"></span>Fetch attribute</h3>
    <table class="properties-table">
        <tr>
            <td>HTTP Method</td>
            <td><code>GET</code></td>
        </tr>

        <tr>
            <td>URL</td>
             <td><code>/users/attributes/:id</code></td>
        </tr>

        <tr>
            <td>Response</td>
            <td>
                <pre class="prettyprint">{
"id": 1234,
"name": "traits.name",
"attributeType": "STRING"
}</pre>
        </tr>

<tr>
    <td>Error response</td>
    <td>N/A</td>
</tr>


            
       
    </table>
    <h4>Response statuses</h4>
    <table class="response-status-table">
        <tr>
            <td>Status code</td>
            <td>Meaning</td>
        </tr>
        <tr>
            <td><code>200</code></td>
            <td>Attribute returned.</td>
        </tr>
        <tr>
            <td><code>404</code></td>
            <td>Attribute doesn't exist.</td>
        </tr>
        <tr>
            <td><code>500</code></td>
            <td>Unkown error on our side.</td>
        </tr>
    </table>
    <h4>Example</h4>
    <pre class="prettyprint">
    curl -v -X GET -H "X-XNG-ApiVersion: 1" -H "Content-Type: application/json" -H "X-XNG-AuthToken: " "https://api.crossengage.io/users/attributes/"</pre>