<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <h3><span id="3.1.7"></span>Bulk GET request</h3>
    <p>This endpoint allows fetching users from the <code>xngId</code> via a
    pagination mechanism. Users will be fetched in ascending order of
    creation.</p>
    <table class="properties-table">
        <tr>
            <td>HTTP Method</td>
            <td><code>GET</code></td>
        </tr>

        <tr>
            <td>URL</td>
            <td><code>/users</code></td>
        </tr>

        <tr>
            
            <td>Response</td>
            <td>
                <pre class="prettyprint">{
    "users": [{
        "email": "john.doe@crossengage.io",
    "id": "1234",
    "xngId": "xng-id",
    "firstName": "John",
    "lastName": "Doe",
    "birthday": "1982-08-30",
    "createdAt": "2015-10-02T08:23:53Z",
    "gender": "male"
    }],
    "total": "10050"
}</pre>
            </td>
        
    </table>
    <h4>Request Parameters</h4>
    <table class="response-status-table">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Mandatory</td>
            <td>Default value</td>
        </tr>
        <tr>
            <td>offset</td>
            <td>First element to return (starts with 0).</td>
            <td>N</td>
            <td><code>0</code></td>
        </tr>
        <tr>
            <td>limit</td>
            <td>Number of elements. Has to be smaller than 1000</td>
            <td>N</td>
            <td><code>10</code></td>
        </tr>
        <tr>
            <td>identified</td>
            <td>Boolean indicating whether only identified users must be
            returned. True means only identified will be returned.</td>
            <td>N</td>
            <td><code>true</code></td>
        </tr>
    </table>
    <h4>Response statuses</h4>
    <table class="response-status-table">
        <tr>
            <td>Status Code</td>
            <td>Meaning</td>
        </tr>
        <tr>
            <td><code>200</code></td>
            <td>Users have been correctly fetched.</td>
        </tr>
        <tr>
            <td><code>400</code></td>
            <td>Offset is bigger than total amount or limit is bigger than max
            value.</td>
        </tr>
        <tr>
            <td><code>401</code></td>
            <td>Wrong or missing credentials</td>
        </tr>
        <tr>
            <td><code>500</code></td>
            <td>Wrong or missing credentials</td>
        </tr>
    </table>
    <h4>Example</h4>
    <pre class="prettyprint">
curl -v -H "X-XNG-ApiVersion: 1" -H "X-XNG-AuthToken: " "https://api.crossengage.io/users?offset=0&amp;limit=10&amp;identified=true"
</pre>