<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
 <h3><span id="3.2.3"></span>List attributes</h3>
    <table class="properties-table">
        <tr>
            <td>HTTP Method</td>
            <td><code>GET</code></td>
        </tr>

        <tr>
             <td>URL</td>
             <td><code>/users/attributes</code></td>
        </tr>

        <tr>
            <td>Response</td>
             <td>
                <pre class="prettyprint">{
"attributes": [{
"id": 1234,
"name": "traits.name",
"attributeType": "STRING"
}],
"total": "10050"
}</pre>
        </tr>
            <td>Error Response</td>
            <td>N/A</td>
        <tr>
       
    </table>
    <h4>Request Parameters</h4>
    <table class="response-status-table">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Mandatory</td>
            <td>Default value</td>
        </tr>
        <tr>
            <td>offset</td>
            <td>First element to return (starts on 0).</td>
            <td>N</td>
            <td><code>0</code></td>
        </tr>
        <tr>
            <td>limit</td>
            <td>Number of elements. Must be smaller than 1000.</td>
            <td>N</td>
            <td><code>10</code></td>
        </tr>
    </table>
    <h4>Response statuses</h4>
    <table class="response-status-table">
        <tr>
            <td>Status Code</td>
            <td>Meaning</td>
        </tr>
        <tr>
            <td><code>200</code></td>
            <td>Users have been correctly fetched.</td>
        </tr>
        <tr>
            <td><code>400</code></td>
            <td>Offset is bigger than total amount or limit is bigger than max
            value.</td>
        </tr>
        <tr>
            <td><code>401</code></td>
            <td>Wrong or missing credentials.</td>
        </tr>
        <tr>
            <td><code>500</code></td>
            <td>Unknown error on our side.</td>
        </tr>
    </table>
    <h4>Example</h4>
    <pre class="prettyprint">
curl -v -X GET -H "X-XNG-ApiVersion: 1" -H "Content-Type: application/json" -H "X-XNG-AuthToken: " "https://api.crossengage.io/users/attributes?offset=0&amp;limit=10"</pre>