Contents

1. Introduction
2. Format
2.1 Header File
2.2 Data File
2.3 Voucher Codes (optional)



<h3>Introduction</h3>

<p>The User Feed is used to provide any customer data that you would like to use for segmentation and campaign setup. You can use this data to:</p>
<ul>
  <li>Generate 360° user profiles for all the customers</li>
<li>Customize the messages you are sending to customers</li>
  <li>Perform smarter segmentation based on customers’ attributes</li>
<li>Utilize customized vouchers, either per customer or from pools in your marketing communications</li>
</ul>

<p>
For example, you may want to include all data about your customers, including birthdays, gender, names, emails or even newsletter subscription statuses and other parameters that you would like to segment by. The data will be exported you and fetched automatically every 15 minutes by CrossEngage, and any changes will be inserted immediately into our database.</p>
<p>
The feed will be saved either on any FTP server of your choice belonging to you, or CrossEngage can provide you with an SFTP server free of charge. Please contact your account manager if this should be necessary.</p>
<p>
In case you are using your own server please be aware that CrossEngage will be creating two directories (“processed” and “error”) and moving the files accordingly after importing.</p>



<h3>2. Format</h3>

<h4>JSON files</h4>
<p>
Each User Feed is uploaded as two .JSON files. The header file defines all fields that will be sent in the User Feed as well as the data types for each field. The data file contains all data for each user that you would like to send, such as id, birthday, gender, name, email etc. 
The naming convention for these two files is as follows:
</p>
<bre>
<pre>
"user_feed_header_"+YYYYMMDDHHMMSS.json
"user_feed_data_"+YYYYMMDDHHMMSS.json
</pre>
<bre>
<h4>Timestamp</h4>
<p>
Please ensure that a pair of header and data files always have the same timestamp, and that the timestamp (“YYYYMMDDHHMMSS”) is in UTC. Since the importer jobs are accessing these files as they are created, please ensure that they are temporary when you are creating on the FTP Server.
</p>
<Data types>
<p>
The number and types of attributes that you provide in the User Feed can vary according to your requirements. The only required field is the id. The id of one customer should be the same as the id you’re sending via the CrossEngage Web Tracking on your website or via the Public API (<a href="https://docs.crossengage.io/docs/api/endpoints/user-attribute-calls-2/user-attribute-calls/"></a>see here)
</p>
<h4>Id consitency</h4>
<p>
The 360° User Profiles are generated using data from the User Feed as well as the CrossEngage Web Tracking, this means that the id is the matching condition for each of your clients, so it is important that a user has the same id in your User Feed and the CrossEngage Web Tracking. 
</p>
<p>
In case you use multiple stores with a separate id logic each, we can accomodate for that, too. For further information speak to your account manager.
</p>

<h4>2.1 Header File</h4>

<p>The header file will look like this:<p>
<pre>"user_feed_header_"+YYYYMMDDHHMMSS.json</pre> <p>(UTC)</p>

<p>Example name:</p>
<pre>‘user_feed_header_20160321110559.json’</pre>
<p>
This file contains an array of objects. These objects refer to the attributes and “column_name”, “data_type” and “is_nullable”.  The column name refers to the column name you’d like to use for the respective field, and will be in camelCase. The data type describes the type of value that will be entered in the respective field (a string, a date, an integer etc.). The is_nullable setting describes if it is possible for a field to be “NULL”. The id can’t be NULL. </p>


<p>An example of the array is shown on page 5.
</p>

The data type options are:

Data Type
Description
real
single precision floating-point number (4 bytes)
bigint
signed eight-byte integer
integer
signed four-byte integer
smallint
signed two-byte integer
date
“2016-03-22”
timestamp
“2016-04-01 18:02:42+01”
character
fixed-length character string
double precision
double precision floating-point number (8 bytes)
character varying
variable-length character string
boolean
logical Boolean (true/false)
numeric
exact numeric of selectable precision
text
variable-length character string
array
[a,b,c,d]. Arrays are of a single type elements and must be provided in a nested type. Nested types are can be anything but array and is provided in the nested_type attribute.
json
JSON data
Example: [{“key”: “example”},{“key2”: “example2”}]
object
A nested object.




User Feed Header Example:
‘user_feed_header_20160321110559.json’
[
   {
      "column_name":"id",
      "data_type":"character varying",
      "is_nullable":"NO"
   },
   {
      "column_name":"firstName",
      "data_type":"character varying",
      "is_nullable":"YES"
   },
   {
      "column_name":"lastName",
      "data_type":"character varying",
      "is_nullable":"YES"
   },
   {
      "column_name":"email",
      "data_type":"character varying",
      "is_nullable":"YES"
   },
   {
      "column_name":"birthday",
      "data_type":"date",
      "is_nullable":"YES"
   },
   {
      "column_name":"gender",
      "data_type":"character varying",
      "is_nullable":"YES"
   },   
   {
      "column_name":"lastOperation",
      "data_type":"object",
      "is_nullable":"YES"
   },
   {
      "column_name":"subscriptions",
      "data_type":"array",
      "nested_type":"object",
      "is_nullable":"YES"
   },
   {
      "column_name":"tags",
      "data_type":"array",
      "nested_type":"bigint",
      "is_nullable":"YES"
   }
]
2.2 Data File

The header file will look like this: 
"user_feed_data_"+YYYYMMDDHHMMSS.json (UTC)

Example name:
‘user_feed_data_20160321110559.json’

The User Feed data file contains an array of objects with customer data. Each object contains the attributes of an individual customer. Please write the keys in “camelCase”. The only mandatory field is the id. The id should be the same as the id that you have assigned to your customer in the data warehouse. In case you use several stores with a separate id logic, please contact your account manager for a solution. The key should also be called “id”. The id of one customer should be the same as the id you’re sending via the Web Tracking on your website or via the public API.

User Feed Data Example:
‘user_feed_data_20160321110559.json’
[
    {
      "id": "JD1534",
      "gender": "male",
      "firstName": "James",
      "email": "james.dean@yahoo.com",
      "birthday": "1931-02-08",
      "lastName": "Dean",
      "lastOperation": {
        "operationDate": "2016-08-20",
"type": "PURCHASE"
  },
      "subscriptions": [
          {
              "subscriptionId": "BI934",
              "subscriptionName": "BILD daily"
          },
          {
              "subscriptionId": "FA772",
              "subscriptionName": "FAZ weekly"
          }
      ],
         "tags": ["tag1", "tag2"]
    },
    {
      "id": "JD1332",
      "gender": "female",
      "firstName": "Marilyn",
      "email": "marilyn.monroe@gmail.com",
      "birthday": "1926-01-06",
      "lastName": "Monroe",
      "subscriptions": [
          {
              "subscriptionId": "SZ337",
              "subscriptionName": "SZ weekly"
          }
      ]
    }
]
2.3 Voucher Codes (optional)

