<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

If you would like to send voucher codes that are <strong>user-specific</strong>, you are able to use the special field called <code>voucherCodes</code>. This field will have the data type <code>json</code> or <code>array</code>, and has to have a certain structure described below.

The <code>voucherCodes</code> field is an array of JSON-objects as well, where every object corresponds to a certain voucher. The data type in the header file of this key should either be an <code>array</code> or <code>json</code>. 

The voucher object will have the following keys: 
<table class="response-status-table">
  <tr>
 <td>Key</td>  
<td>Data type</td>
<td>Definition</td>
<td>Required</td>
  </tr>
  <tr>
    <td><code>id</code></td>
<td><code>string</code></td>
<td>The unique name of the voucher campaign.</td>
<td>yes</td>
  </tr>
  <tr>
    <td><code>validFrom</code>
</td>
<td><code>string</code></td>
<td>The starting date of the validity of the voucher.</td>
<td>no</td>
  </tr>
  <tr>
    <td><code>validTo</code></td>
    <td><code>string</code></td>
    <td>The expiration date of the validity of the voucher</td>
    <td>no</td>
  </tr>
  <tr>
    <td><code>type</code></td>
    <td><code>string</code></td>
    <td>Type of discount of the voucher, which can be either percentage or absolute.</td>
    <td>no</td>
  </tr>
  <tr>
    <td><code>value</code></td>
    <td><code>double precision</code></td>
    <td>The value of the discount of the voucher.</td>
    <td>no</td>
  </tr>
  <tr>
      <td><code>valueUnit</code></td>
      <td><code>string</code></td>
      <td>The unit of the value of the voucher, example "%"" or "€"</td>
      <td>no</td>
  </tr>
  <tr>
      <td><code>reusable</code></td>
      <td><code>boolean</code></td>
      <td>Whether the user can reuse the voucher</td>
      <td>no</td>
  </tr>
  <tr>
    <td><code>code</code></td>
    <td><code>string</code></td>
      <td>the voucher code</td>
      <td>yes</td>
  </tr>
  <tr>
      <td><code>minimumBasket</code></td>
      <td><code>double precision</code></td>
      <td>Minimum cart value to enable the voucher</td>
      <td>no</td>
  </tr>
  <tr>
      <td><code>currency</code></td>
      <td><code>string</code></td>
      <td>The currency of the minimum basket.</td>
      <td>no</td>
  </tr>
  <tr>
      <td><code>conditions</code></td>
      <td><code>string</code></td>
      <td>The description of the validity conditions of the code.</td>
      <td>no</td>
  </tr>
</table>
<p><br>
CrossEngage will not check the validity of the voucher. If an action is expired, do not send the voucher code. Only send the voucher code in the user feed whole the voucher is valid. </p>

<h4>Example</h4>    
<pre class="prettyprint">[
    {   
        {
        "id": "JD1534",
        "gender": "male",
        "firstName": "James",
        "email": "james.dean@yahoo.com",
        "birthday": "1931-02-08",
        "lastName": "Dean",
        "subscriptions": [
            {
                "subscriptionId": "BI934",
                "subscriptionName": "BILD daily"
            },
            {
                "subscriptionId": "FA772",
                "subscriptionName": "FAZ weekly"
            }
        ]
        },
        "voucherCodes": [
            {
                "id": "V34498",
                "validFrom": "2015-08-25 00:00:00",
                "validTo": "2015-08-28 00:00:00",
                "value": 20,
                "valueUnit": "%",
                "reusable": false,
                "code": "WINTER3123",
                "minimumBasket": 50,
                "conditions": "Applies to winter coats only."
            },
            {
                "id": "V19877",
                "validFrom": "2015-08-25 00:00:00",
                "validTo": "2015-08-28 00:00:00",
                "value": 10,
                "valueUnit": "€",
                "reusable": false,
                "code": "SUMMER37123",
                "minimumBasket": 20
            }
        ]
    }
]    


</pre>
