<div class="box">
<h3><span id="2.1"></span>Attributes</h3>
    <p>Attributes will be validated for correctness and presence and in case of errors a response will be returned. In case an error is found, the response payload will contain the field which contained the error along with a type of error. The list of default supported properties is:</p>
    <table class="response-status-table">
        <tr>
            <td>Property</td>
            <td>Type</td>
            <td>Meaning</td>
            <td>Modifiable (default Y)</td>
            <td>Mandatory (default N)</td>
        </tr>
        <tr>
            <td>address</td>
            <td><code>string</code></td>
            <td>address of the customer</td>
        </tr>
        <tr>
            <td>age</td>
            <td><code>integer</code></td>
            <td>age of customer in years</td>
        </tr>
        <tr>
            <td>avatar</td>
            <td><code>string</code></td>
            <td>profile picture of the user</td>
        </tr>
        <tr>
            <td>birthday</td>
            <td><code>datetime</code></td>
            <td>birthdate</td>
        </tr>
        <tr>
            <td>businessUnit</td>
            <td><code>string</code></td>
            <td>business unit the customer has registered in</td>
        </tr>
        <tr>
            <td>comments</td>
            <td><code>string</code></td>
            <td>country the customer belongs to</td>
        </tr>
        <tr>
            <td>createdAt</td>
            <td><code>datetime</code></td>
            <td>when was the customer created</td>
        </tr>
        <tr>
            <td>description</td>
            <td><code>string</code></td>
            <td>description of the customer</td>
        </tr>
        <tr>
            <td>email</td>
            <td><code>string</code></td>
            <td>email address</td>
        </tr>
        <tr>
            <td>feedback</td>
            <td><code>string</code></td>
            <td>feedback for the customer</td>
        </tr>
        <tr>
            <td>firstName</td>
            <td><code>string</code></td>
            <td>firstname</td>
        </tr>
        <tr>
            <td>lastName</td>
            <td><code>string</code></td>
            <td>lastname</td>
        </tr>
        <tr>
            <td>id</td>
            <td><code>string</code></td>
            <td>id of the customer on the company's system</td>
            <td>N</td>
            <td>Y</td>
        </tr>
        <tr>
            <td>phone</td>
            <td><code>string</code></td>
            <td>phone number</td>
        </tr>
        <tr>
            <td>postcode</td>
            <td><code>string</code></td>
            <td>postal code for the user</td>
        </tr>
        <tr>
            <td>product</td>
            <td><code>string</code></td>
            <td>product for the user</td>
        </tr>
        <tr>
            <td>title</td>
            <td><code>string</code></td>
            <td>title, f.e.:"Mr."</td>
        </tr>
        <tr>
            <td>username</td>
            <td><code>string</code></td>
            <td>username of the user</td>
        </tr>
        <tr>
            <td>xngId</td>
            <td><code>string</code></td>
            <td>internal if of the user in CrossEngage's system</td>
            <td>N</td>
            <td>N</td>
        </tr>
        <tr>
            <td>website</td>
            <td><code>string</code></td>
            <td>customer's website</td>
        </tr>
    </table>
    </div>
<div class="box">    <h3><span id="2.4"></span>Field validation error types</h3>
    <p>The following table shows the possible error validations that exist in
    the API and their meaning:</p>
    <table class="response-status-table">
        <tr>
            <td>Code</td>
            <td>Meaning</td>
        </tr>
        <tr>
            <td><code>IS_NULL</code></td>
            <td>No value (or null) was provided but the field is not
            nullable.</td>
        </tr>
        <tr>
            <td><code>IS_EMPTY</code></td>
            <td>Empty value was specified for field that requires content.</td>
        </tr>
        <tr>
            <td><code>ALREADY_EXISTS</code></td>
            <td>When value for given field should be unique but there is a
            record with such value in the data store.</td>
        </tr>
        <tr>
            <td><code>WRONG_TYPE</code></td>
            <td>You are sending a value that does not match the expected type.
            For example sending "something wrong" for the field "age" (of type
            INT)</td>
        </tr>
        <tr>
            <td><code>UNKNOWN_FIELD</code></td>
            <td>The field is completely unknown. In this case, you will have to
            contact us so we create the field for you.</td>
        </tr>
    </table>
    <br>
    <p>Errors at entity level could be:</p>
    <table class="response-status-table">
        <tr>
            <td>code</td>
            <td>meaning</td>
        </tr>
        <tr>
            <td><code>IDS_MISMATCH</code></td>
            <td>The pair (id, xngId) you are sending does not match any user in
            our system. Most likely you are trying to modify one of them.</td>
        </tr>
    </table>
    </div>
<div class="box">
     <h3><span id="3.2.1"></span>Allowed attribute types</h3>
    <table class="response-status-table">
        <tr>
            <td>Type</td>
            <td>Descirption</td>
        </tr>
        <tr>
            <td><code>STRING</code></td>
            <td>text value</td>
        </tr>
        <tr>
            <td><code>DATETIME</code></td>
            <td>temporal value</td>
        </tr>
        <tr>
            <td><code>FLOAT</code></td>
            <td>fractional number value</td>
        </tr>
        <tr>
            <td><code>INTEGER</code></td>
            <td>integer number value</td>
        </tr>
        <tr>
            <td><code>BOOLEAN</code></td>
            <td>true/false flag</td>
        </tr>
    </table>
    </div>

